.container {
  height: 33rem;
  border: solid 0.1rem rgba(216, 214, 214, 0.692);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;

  .image {
    height: 50%;
    width: 100%;
  }

  .favItem {
    position: absolute;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 1rem;
    background-color: rgba($color: #a3a6a8, $alpha: 0.4);
    color: #fff;
    font-size: 1.8rem;
    opacity: 0.8;

    &:hover {
      opacity: 1;

      .outlineHeart {
        color: red;
      }
    }

    .fillHeart {
      color: red;
    }
  }

  .productDetails {
    height: 50%;
    padding: 1.5rem;

    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      @extend .price
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      width: 100%;

    }

    .price {
      margin: unset;
      opacity: 0.8;
    }

    .ratings {
      font-size: smaller;
    }
  }
}