@import '../../styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  .links {
    .searchBar {
      width: 60rem;
    }

    display: flex;
    gap: 5rem;

    .link {
      color: gray;
      text-decoration: none;
    }

    .active {
      @extend .link;
      color: black;
      font-weight: 600;
    }
  }

  .pink {
    color: #f14bb2;
    font-weight: bold;
  }

  @include respond-to('mobile') {

    display: flex;
    flex-direction: column;
    align-items: center;

    .links {
      width: 100%;

      .link {
        display: none;
      }
    }
  }
}