@import '../../styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 0 5rem;

  .searchBar {
    width: 60%;
  }

  .links {

    display: flex;
    gap: 5rem;

    .link {
      color: gray;
      text-decoration: none;
      white-space: nowrap
    }

    .active {
      @extend .link;
      color: black;
      font-weight: 600;
    }
  }

  .pink {
    color: #f14bb2;
    font-weight: bold;
  }

  @include respond-to('mobile') {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 5rem;
    margin-top: 1.5rem;

    .searchBar {
      width: 100%;
    }

    .link {
      display: none;
    }

    h1 {
      display: none;
    }
  }
}