@import '../../styles//mixins.scss';

.container {
  margin-top: 2rem;
  padding: 0 5rem;

  .productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    overflow: hidden;

    @include respond-to('mobile') {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
  }

  .pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;

    :global(.ant-pagination-item) {
      border-color: gray;
      border-radius: 0;
    }

    :global(.ant-pagination-prev),
    :global(.ant-pagination-next) {
      background-color: #000;
      border-radius: 0;

      span {
        color: #fff;
      }
    }

    :global(.ant-pagination-disabled) {
      background-color: #d1d5db;
      border-radius: 0;
      color: #000;
    }

    :global(.ant-pagination-item-active > a) {
      color: #000;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }

  @include respond-to('mobile') {
    width: 100%;

    .pagination {
      justify-content: center;
    }
  }
}