@import '../../styles/mixins.scss';

.container {
  margin-top: 5rem;
  padding: 5rem;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;

  a {
    color: #707684;
    text-decoration: underline;
    cursor: pointer;
  }

  .infoHelpCare {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 5rem;
  }

  .right {
    padding-left: 10rem;

    .socialPlatform {
      display: flex;
      justify-content: space-between;
    }

    .logo {
      font-size: 3rem;
      margin-right: 1rem;
    }

    img {
      height: 12rem;
      width: 100%;
    }
  }

  .left,
  .right {
    width: 100%;
  }

  @include respond-to('mobile') {

    .left {
      .infoHelpCare {
        display: none;
      }

      p {
        text-align: center;
      }
    }

    .right {
      .acceptCards {
        display: none;
      }

      padding: 0;
      margin-bottom: 2rem;
    }

    flex-direction: column-reverse;
    align-items: stretch;
    width: 100%;
  }
}